{{define "content"}}
  <div class="row">
    <div class="col-sm-9 text-left post-form">
      <form action="/post" method="post">
        <div class="row">
          <div class="col-sm-12">
            <textarea name="content" class="form-control custom-control" style="resize:none"></textarea>
          </div>
		</div>
        <div class="row">
          <div class="col-sm-12">
            <button type="submit" class="btn btn-primary">
              <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </form>
	</div>
    <div class="col-sm-3 hidden-xs text-right">
      <img src="/public/img/logo.jpg" alt="CellyFish" title="CellyFish" />
    </div>
  </div>
  <br />
  <div class="row">
    <ul class="col-xs-12 list-group">
      {{range .}}
        <li class="list-group-item">
          <div>
            <label>
	          {{with .Author}}<em>{{.}}:</em>{{else}}Someone:{{end}}
		    </label>
            <small>{{.Date.Format "Jan 02, 2006 15:04:05 UTC"}}</small>
		  </div>
          <pre>{{.Content}}</pre>
          <div class="text-right"></div>
        </li>
      {{end}}
    </ul>
  </div>
{{end}}
