.post-form {
	border: 1px solid #ccc;
    background: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	padding: .6em;
}

.post-form button {
	float: right;
}

.post-form textarea {
	margin-bottom: .5em;
}

ul li small {
	float: right;
}
